* {
  box-sizing: border-box;
}

.body-toppage {
  width: 100%;
  box-sizing: border-box;
}

.header-toppage {
  height: 10rem;
  width: 100%;
  padding: 1rem 15rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid #f5f5f5;
  position: relative;
  z-index: 1;
}

.Header {
  display: flex;
  justify-content: center;

  .HeaderTop {
    height: 5rem;
    width: 95%;
    position: relative;

    &__Menu {
      display: flex;

      &__header-logo {
        height: 4.5rem;
        width: 18rem;
        padding: 0.5rem;
        background-image: image-url("fmarket_logo_red");
        background-repeat: no-repeat;
        position: absolute;
      }

      &__header-search {
        width: 55%;
        margin-left: 27rem;
        background-color: rgb(245, 245, 245);

        font-size: 1.6rem;
        height: 4rem;
        line-height: 2.4em;
        position: absolute;
        border-width: 0.1rem;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 0.4rem;
        outline: none;
        transition: all 0.3s ease-out 0s;
      }
    }
  }
}

input.search {
  font-family: inherit;
  border: none;
  background-color: #f5f5f5;
  padding-left: 1rem;
}

button.search-logo {
  float: right;
  height: 4rem;
  width: 4rem;
  border-color: none;
  background-color: #f5f5f5;
}

.HeaderBottom {
  height: 5rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  bottom: 0;
  position: absolute;

  &__Left {
    &__genre_search {
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2rem;
      white-space: nowrap;
      float: left;
      padding-right: 2rem;
      padding-top: 2rem;
    }
  }

  &__Right {
    margin: 0;
    &__Menu-with-sign_in {
      display: inline-block;
      align-items: center;
      font-size: 1.4rem;
      height: 2rem;
      padding-right: 3rem;
      padding-top: 2rem;
      transform: scale(1);
      transition: all 0.3s ease-out 0s;

      &__mypage {
        color: #333;
        text-decoration: none;
      }
    }

    &__Menu-without-sign_in {
      display: flex;
      margin-top: 1rem;
      &__sign_up {
        background-color: rgb(234, 53, 45);
        color: rgb(255, 255, 255);
        display: block;
        font-size: 1.4rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: rgb(234, 53, 45);
        border-image: initial;
        border-radius: 0.4rem;
        padding: 0.8rem 1rem;
      }

      &__sign_in {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 149, 238);
        display: block;
        font-size: 1.4rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: rgb(0, 149, 238);
        border-image: initial;
        border-radius: 0.4rem;
        padding: 0.8rem 1rem;
        margin-left: 1rem;
      }
    }
  }
}

.Home-Slide-menu {
  height: 45rem;
  width: 100%;
  text-align: center;
  
   &__cont{

   }

}

.main-toppage {
  width: 75%;
  margin: auto;

  .MainMenu {
    &__FavoriteItems {
      height: 30rem;
      background-color: #c50028;
      width: 100%;
      margin: auto;

      &__Header {
        height: 5rem;
        font-weight: 600;
        line-height: 1.4rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0 1rem 3rem;
      }

      &__Body {
        height: calc(100% - 5rem);
        &__Items {
          &__All {
            &__List {
              margin-left: 3rem;
              &__images {
                display: flex;
                &__image {
                  margin-right: 3rem;
                  border: 0.1rem solid #dddddd;
                  position: relative;

                  .favorite-item-image {
                    display: block;
                    height: 20rem;
                    width: 18rem;
                  }
                  .home__sold-out-image {
                    border: 3rem solid;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: $red transparent transparent $red;
                    z-index: 1;
                    position: absolute;
                  }
                  .home__sold-out-text {
                    font-size: 1.5rem;

                    color: #fff;
                    font-weight: bolder;
                    letter-spacing: 0.1em;
                    position: absolute;
                    top: -1.7rem;
                    left: -3rem;
                    transform: rotateZ(315deg);
                  }
                }
              }
            }
          }
        }
      }
    }

    &__CategoryLists {
      height: 17.1rem;
      width: 100%;
      background-color: rgb(255, 255, 255);

      &__List {
        &__All {
          width: 75%;
          margin: auto;
          display: flex;
          justify-content: center;
          &__list {
            display: inline-block;
            font-size: 1.4rem;
            height: 3.2rem;

            padding: 1rem;
            margin: 4rem 2rem 0 2rem;

            background-color: #f1e8de;
            border-radius: 2rem;
          }
        }
      }
    }

    &__CategoryItems {
      height: 40rem;
      background-color: #223652;
      width: 100%;

      margin-bottom: 10rem;

      &__Header {
        display: flex;
        font-weight: 600;
        line-height: 1.4rem;
        margin: 0;

        height: 5rem;
        justify-content: space-between;
        padding: 15px;
      }

      &__Body {
        &__Items {
          &__All {
            height: 30rem;
            width: 100%;

            &__List {
              padding: 1rem, 1.6rem, 0, 1.6rem;
              display: flex;
              &__item {
                margin-left: 1rem;
                .body-item-image {
                  display: flex;
                  height: 23rem;
                  width: 20rem;
                  border-style: groove;
                  background-size: cover;
                }
                .home__sold-out-image {
                  border: 3rem solid;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-color: $red transparent transparent $red;
                  z-index: 1;
                  position: absolute;
                }
                .home__sold-out-text {
                  font-size: 1.5rem;
                  color: #fff;
                  font-weight: bolder;
                  position: absolute;
                  top: -1.7rem;
                  left: -3rem;
                  transform: rotateZ(315deg);
                }
              }
            }
          }
        }
      }

      h3.category-item-title {
        font-size: 2.4rem;
        color: #dddddd;
      }
    }

    &__BrandLists {
      height: 17.1rem;
      width: 100%;
      background-color: rgb(255, 255, 255);

      &__List {
        &__All {
          width: 75%;
          margin: auto;
          display: flex;
          justify-content: center;

          &__list {
            display: inline-block;
            font-size: 1.4rem;
            height: 3.2rem;

            padding: 1rem;
            margin: 4rem 2rem 0 2rem;

            background-color: #f1e8de;
            border-radius: 2rem;
          }
        }
      }
    }

    &__BrandItems {
      height: 40rem;
      background-color:#223652 ;
      width: 100%;

      margin-bottom: 5rem;

      &__Header {
        display: flex;
        font-weight: 600;
        line-height: 1.4rem;
        margin: 0;

        height: 5rem;
        justify-content: space-between;
        padding: 1.5rem;
      }

      &__Body {
        &__Items {
          &__All {
            height: 30rem;
            width: 100%;

            &__List {
              padding: 1rem 1.6rem 0 1.6rem;
              display: flex;
            }
          }
        }
      }
    }
  }
}

h3.brand-item-title {
  font-size: 2.4rem;
  color: #dddddd;
}

p.show-detail {
  float: right;
  color: #dddddd;
}

figcaption {
  height: 5rem;
  width: 20rem;
  margin-top: 0.1rem;
  position: absolute;
  background-color: grey;
  color: #dddddd;
  text-align: center;
  line-height: initial;
}

h2.category-title {
  text-align: center;
  display: block;
  padding-top: 2rem;
}

a.category-list {
  display: flex;
  justify-content: center;
}

ul.FooterMenu__list_wrapper {
  vertical-align: baseline;
  list-style: none;
  padding-inline-start: 0;
}

li.FooterMenu__list__small {
  line-height: 1.4em;
  margin: 1rem 0 0 0;
  opacity: 0.7;
}

.aside-toppage {
  height: 18rem;
  width: 100%;
  background-color: #42548b;
  background-image: url("aside-image");

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  &Aside__Text {
    &__Lists {
    }
  }

  &Aside__Image {
    display: block;
  }
}

p.aside-text1 {
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  font-size: 2.4rem;
  text-shadow: 0.1rem 0.1rem 0 gray, -0.1rem 0.1rem 0 gray,
    0.1rem -0.1rem 0 gray, -0.1rem -0.1rem 0 gray;
}

p.aside-text2 {
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  text-shadow: 0.1rem 0.1rem 0 gray, -0.1rem 0.1rem 0 gray,
    0.1rem -0.1rem 0 gray, -0.1rem -0.1rem 0 gray;
}

img.aside-image1 {
  display: block;
  padding-left: 2rem;
}

.footer-toppage {
  width: 100%;
  background-color: #d06816;
  color: #ffffff;
  position: relative;
}

.nav-toppage {
  display: flex;
  justify-content: center;
}

.FooterMenu {
  height: 25rem;
  width: 75%;
  float: left;

  &__list {
    display: inline-block;
    width: 20rem;
    vertical-align: top;
    margin: 3.2rem 3.2rem 0 0;
    padding-left: 0;

    &__title {
      font-size: 1.6rem;
    }

    &__small {
      font-size: 1.2rem;
      margin-left: 1.6rem;
      font: inherit;
    }
  }
}

h2.FooterMenu__list__title {
  text-align: left;
}

.FooterBottom {
  width: 75%;
  height: 3.3rem;
  position: absolute;
  bottom: 2rem;

  &__footer-logo {
    height: 3.3rem;
    width: 12rem;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    background-image: image-url("fmarket_logo_white");
    background-repeat: no-repeat;
  }

  &__footer-text {
    text-align: center;
    width: 76rem;
    height: 1.2rem;
    font-size: 1.2rem;
    padding-left: 28rem;
  }
}

.PostItems {
  padding: 3rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0;
  display: inline-block;
  display: flex;
  justify-content: center;
  z-index: 100;

  &__Button {
    padding-top: 1.5rem;
    text-align: center;
    height: 14rem;
    width: 14rem;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
    color: white;
    font-size: 2rem;
  }

  &__Icon {
    height: 5rem;
    width: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    margin-left: 4.5rem;
  }
}
