.search_main {
  border-color: rgb(204, 204, 204);
  width: 70%;
  margin: auto;

  .search_result {
    width: 100%;
    border-color: rgb(204, 204, 204);
    &__search {
      display: flex;
      margin-top: 3rem;

      &__about {
        .search-word {
          border-color: rgb(204, 204, 204);
          font-size: 2rem;
          font-weight: bolder;
        }
        &__count {
          color: #888888;
          margin: 1.5rem 0;
        }
      }
      &__sort {
        margin-left: 3rem;
        .sort-submit-btn {
          display: none;
        }
      }
    }
    &__lists {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      &__list {
        height: 30rem;
        width: 22%;
        margin-left: 2rem;

        &__link {
          .search__sold-out-image {
            border: 3rem solid;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: $red transparent transparent $red;
            z-index: 1;
            position: absolute;
          }
          .search__sold-out-text {
            font-size: 1.5rem;
            color: #fff;
            font-weight: bolder;
            position: absolute;
            top: -1.7rem;
            left: -3rem;
            transform: rotateZ(315deg);
          }

          &__image {
            height: 25rem;
            width: 100%;
          }
          &__text {
            height: 4rem;
            background-color: #fff;
            position: relative;
            &__like {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

.pagination {
  border: none;
  color: #696969;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}
