.done-message {
  text-align: center;
  margin-top: 40px;
}

.done-btn {
  text-align:center;
}

.btn-default_go-mercari {
  background-color: rgb(234, 53, 45);
  color: #fff;
  font-size: 18px;
  height: 52px;
  width: 325px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.field-image {
  position: relative;
}

.put-done {
  position: absolute;
  right: 10px;
  top: 0px;
}

.back-message {
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 60px;
}

.back-message2 {
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 50px;
  left: 60px;
}

.apple-done {
  position: absolute;
  top: 140px;
  left: 95px;
}

.gogle-done {
  position: absolute;
  top: 130px;
  left: 220px;
}
.logo-done {
  position: absolute;
  top: 140px;
  left: 36px;
}