.point5-1 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
}
.point5-2,
.point5-3,
.point5-4 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
  &::before {
    @include before;
    background-color: #ea352d;
  }
}

.point5-5 {
  @include inpoint;
  background-color: #ea352d;
  &::before {
    @include before;
    background-color: #ea352d;
  }
}
.done-message {
  text-align: center;
  margin-top: 4rem;
}

.done-btn {
  text-align: center;
}

.btn-default_go-mercari {
  background-color: rgb(234, 53, 45);
  color: #fff;
  font-size: 1.8rem;
  height: 5.2rem;
  width: 32.5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.field-image {
  position: relative;
}

.put-done {
  position: absolute;
  right: 1rem;
}

.back-message {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  top: 2rem;
  left: 6rem;
}

.back-message2 {
  font-size: 2.6rem;
  color: #fff;
  position: absolute;
  top: 5rem;
  left: 6rem;
}

.image-phone {
  width: 70rem;
}

.put-done {
  height: 27.5rem;
  width: 30rem;
}

.apple-done {
  position: absolute;
  top: 14rem;
  left: 9.5rem;
}

.gogle-done {
  position: absolute;
  top: 13rem;
  left: 22rem;
}
.logo-done {
  position: absolute;
  top: 14rem;
  left: 3.6rem;
}
