.single-footer {
  height: 22rem;
  width: 70rem;
  margin: auto;
  padding-top: 4rem;

  .footer-top {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .footer-logo {
    height: 6.5rem;
    width: 100%;
  }

  .footer-bottom {
    height: 1.5rem;
    width: 100%;
  }
}

.footer-top__list {
}

.footer-top__list__text {
  float: left;
  font-size: 1.2rem;
  list-style: none;
  margin-left: 2.5rem;
}

.footer-logo {
  height: 6.5rem;
  margin-top: 3rem;
  margin-left: 32rem;
  display: block;
  background-image: url("logo_gray");
  background-repeat: no-repeat;
}

.footer-bottom-text {
  width: 100%;
  margin-top: 0.7rem;
  font-size: 1.3rem;
  text-align: center;
}
