.single-container {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
// Main

.single-main {
  width: 100%;
  display: flex;
  justify-content: center;
  display: block;
  background-repeat: no-repeat;

  .login2-panel {
    width: 70rem;
    background-color: #fff;
    margin: auto;
    margin-bottom: 1rem;

    &__login-form-inner {
      width: 100%;
      margin-top: 2rem;

      &--email {
        height: 5rem;
        width: 32.8rem;
        background: red;
        color: #fff;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
        color: #fff;
        position: relative;

        .far.fa-envelope {
          font-size: 2.5rem;
          position: absolute;
          bottom: 1rem;
          left: 1.5rem;
        }
        &__message {
          font-size: 1.5rem;
          line-height: 5rem;
          text-align: center;
        }
      }

      &--facebook {
        height: 5rem;
        width: 32.8rem;
        background: #385185;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
        color: #fff;
        position: relative;

        .fab.fa-facebook-square {
          font-size: 2.5rem;
          position: absolute;
          bottom: 1rem;
          left: 1.5rem;
        }
        &__message {
          font-size: 1.5rem;
          line-height: 5rem;
          text-align: center;
        }
      }

      &--google {
        height: 5rem;
        width: 32.8rem;
        background: #fff;
        border: solid 1px #979797;
        display: block;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;

        .fab.fa-google {
          font-size: 2.5rem;
          position: absolute;
          bottom: 1rem;
          left: 1.5rem;
        }
        &__message {
          font-size: 1.5rem;
          line-height: 5rem;
          color: #333;
          text-align: center;
        }
      }
    }
  }
}

p.login2-panel-title {
  font-size: 2.2rem;
  padding: 3rem;
  text-align: center;
  border-bottom: 0.2rem rgb(245, 245, 245) solid;
}

// Footer
