.point2-1 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
}
.point2-2 {
  @include inpoint;
  background-color: #ea352d;
  &::before {
    @include before;
    background-color: #ea352d;
  }
  &::after {
    @include after;
  }
}
.point2-3,
.point2-4 {
  @include inpoint;
  &::after {
    @include after;
  }
  &::before {
    @include before;
  }
}
.point2-5 {
  @include inpoint;
  &::before {
    @include before;
  }
}
.single-main {
  background-color: rgb(245, 245, 245);
  display: block;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.l-single-container {
  background-color: #fff;
  width: 70rem;
  margin: auto;
}
.l-single-inner_registration {
  border-bottom: 0.1rem rgb(245, 245, 245) solid;
  padding: 1rem;
  font-size: 2.2rem;
  margin: 0;
}

.phonenumber_information {
  margin-left: 18.8rem;
  margin-right: 18.8rem;
}
h2 {
  text-align: center;
}

.user_phonenumber {
  margin-left: 18.8rem;
  margin-right: 18.8rem;
}

.number_presentment {
  line-height: 5rem;
}
.number_text {
  height: 5.2rem;
  width: 32.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  font-size: 1.6rem;
}

.number_text_error {
  height: 5.2rem;
  width: 32.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid red;
  font-size: 1.6rem;
}

.number_message {
  margin: 1rem 0 3rem 0;
  font-size: 1.3rem;
  display: flex;
  height: 3rem;
  width: 30rem;
  line-height: 1.5;
}
.next_submit {
  background-color: rgb(234, 53, 45);
  color: #fff;
  width: 32.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.number_explanation {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.destroy-wall {
  height: 0.1rem;
  width: 100%;
}
