.single-container {
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.single-header {
  height: 12.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: none;
  background-color: rgb(245, 245, 245);
}

.header-logo {
  height: 4.9rem;
  width: 18.5rem;
  display: block;
  margin: 4rem 4rem 0 0;
  background-image: url("fmarket_logo_red");
  background-repeat: no-repeat;
}

// Main

.single-main {
  width: 100%;
  justify-content: center;
  background-repeat: no-repeat;

  .buy-panel {
    width: 70rem;
    background-color: #fff;
    margin: auto;

    &__item-detail-inner {
      width: 45%;
      margin: auto;
      margin-top: 2rem;

      &__about {
        display: flex;

        &__image {
          height: 7rem;
          width: 7rem;
        }

        &__name {
          margin-left: 1.6rem;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }

      &__box {
        display: flex;
        justify-content: center;
        font-size: 2.1rem;
        line-height: 100%;

        &__price {
          font-weight: bolder;
        }

        &__delivery_fee {
          font-size: 1.28rem;
          margin-left: 1rem;
          color: #333333;
        }
      }

      &__point {
        height: 5rem;
        width: 100%;
        background-color: #cccccc;
        margin: auto;
        text-align: center;
        line-height: 5rem;
        font-size: 1.28rem;
      }

      &__pay {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bolder;

        &__message {
          font-size: 1.9rem;
        }

        &__price {
          font-size: 2.24rem;
        }
      }

      &__error {
        color: red;
        text-align: center;
        margin-top: 2.4rem;
        font-size: 1.44rem;
      }

      &__buy-button {
        height: 5rem;
        width: 45%;
        background-color: #999999;
        color: #fff;
        display: block;
        margin: auto;
        margin-top: 0.8rem;
        margin-bottom: 4.8rem;
        text-align: center;
        line-height: 5rem;
        font-size: 1.44rem;
        font-weight: bolder;
      }

      &__shipping {
        font-size: 1.44rem;
        font-weight: bolder;
        margin-bottom: 1.28rem;
      }

      &__postcode,
      &__address,
      &__buyer {
        font-size: 1.44rem;
        font-weight: lighter;
        color: #222222;
        margin-bottom: 0.12rem;
      }

      &__link {
        .go-to_change {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          color: rgb(0, 149, 238);
          font-size: 1.44rem;

          &__messaege {
            display: inline-block;
          }
        }
      }

      &__pay-way {
        font-size: 1.44rem;
        font-weight: bolder;
        margin-bottom: 2.1rem;
      }

      &__pay-detail {
        font-size: 1.28rem;
      }
    }
  }
}

p.buy-panel-title__order {
  font-size: 2.2rem;
  font-weight: bolder;
  padding: 2rem;
  text-align: center;
  border-bottom: 0.2rem rgb(245, 245, 245) solid;
}

.buy-panel__item-detail-inner-order1 {
  border-top: 0.2rem rgb(245, 245, 245) solid;
  padding: 1rem 0 2rem 0;
}

// Footer
