.footer-top
    %ul.footer-top__list
        %li.footer-top__list__text プライバシーポリシー
        %li.footer-top__list__text Fmarket利用規約
        %li.footer-top__list__text 特定商取引に関する表記
.footer-logo


.footer-bottom
    %p.footer-bottom-text © 2019 Fmarket

