.header-signup
  .header-signup__left
  = image_tag 'fmarket_logo_red.svg', width: '170', class: "header-signup__left--logo"
  .header-signup__right
    %ol.step-bar
      %li.step-bar__block{style: 'color: #ea352d;'}
        会員情報
        %br
        %span.point1
      %li.step-bar__block  
        電話番号認証
        %br
        %span.point2
      %li.step-bar__block  
        お届け先住所入力
        %br
        %span.point3
      %li.step-bar__block 
        支払い方法
        %br
        %span.point4
      %li.step-bar__block 
        完了
        %br
        %span.point5
    