%header.single-header
  %h1
    %a 画像リンク
  %nav.progress-bar_signup-bar
    %ol.clearfix
      %li headerのバー
%main.single-main
  %section.l-single-container
    %h2.l-single-inner_registration
      会員登録完了
      .user_created
        .created_message
          %p ありがとうございます。\b会員登録が完了しました。
      