%header.single-header
  %h1
    %a 画像リンク
  %nav.progress-bar_signup-bar
    %ol.clearfix
      %li headerのバー
%main.single-main
  %section.l-single-container
    %h2.l-single-inner_registration
      会員登録完了
    .user_done
      .created_message
        %p.done-message 
          ありがとうございます。
          %br
          会員登録が完了しました。
      .field-creditcard
        .done-btn
          = button_to "メルカリをはじめる", home_index_path, class: 'btn-default_go-mercari'
      .field-image
        =image_tag 'mercari-back.jpg', width: '700'
        =image_tag 'mercari-smart.png', height: '275',width: '300',class: "put-done"
        %p.back-message \ スマホでかんたんフリマアプリ /
        %h1.back-message2 今すぐ無料ダウンロード！
        =image_tag 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "apple-done"
        =image_tag 'google-play-badge.png', width: '153', class: "gogle-done"
        =image_tag 'logo_red.svg', width: '36', class: "logo-done"

    