%body
    .single-container

        %header.single-header
            .header-logo

        .single-main
            .login2-panel

                %p.login2-panel-title 新規会員登録

                .login2-panel__login-form-inner
                    %button.login2-panel__login-form-inner--email
                        %i.far.fa-envelope
                        メールアドレスで登録する

                    %button.login2-panel__login-form-inner--facebook 
                        %i.fab.fa-facebook-square
                        Facebookでログイン

                    %button.login2-panel__login-form-inner--google
                        %i.fab.fa-google
                        Googleでログイン
        .single-footer
            = render 'signups/footer'
