.item-detail-content {
  @include item_details;
  padding: 2.4rem 4rem 4rem;
  margin: 4rem auto 0;
  &__title {
    text-align: center;
    font-size: 2.4rem;
  }
  &__information {
    display: flex;
    &--pictures {
      display: inline-block;
      min-height: 37.5rem;
      max-width: 30rem;
      min-width: 30rem;
      background-color: #fafafa;
      .item-detail-phone-big {
        line-height: 0;
        position: relative;
        min-height:0;
        min-width : 0;
        .slider-thum {
          display: flex;
          overflow: hidden;
          .item-detail__show__sold-out-image {
            border: 5rem solid;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: $red transparent transparent $red;
            z-index: 1;
            position: absolute;
          }
          .item-detail__show__sold-out-text {
            font-size: 2rem;
            letter-spacing: 0.1em;
            color: #fff;
            font-weight: bolder;
            position: absolute;
            top: -2rem;
            left: -5rem;
            transform: rotateZ(315deg);
          }
          .item-detail-phone-big-main {
            height: 30rem !important;
            width: 30rem;
          }
        }
      }
      .item-slider-li {
        list-style: none;
        height: 6rem;
        width: 6rem !important;
        outline:none;
        margin: auto;
      }
      .item-detail-phone-cells {
        line-height: 0;
        height: 12rem;
        width: 30rem;
        display : -webkit-box;     /* old Android */
        display : -webkit-flex;    /* Safari etc. */
        display : -ms-flexbox;     /* IE10        */
        display : flex;
        
        .item-detail-phone-cells-bits {
          height: 6rem;
          width: 6rem;
          cursor: pointer;
          -webkit-flex-wrap: wrap;          /* Safari etc. */
          -ms-flex-wrap    : wrap;          /* IE10        */
          flex-wrap        : wrap;

        }
      }
    }
    &--list {
      float: right;
      margin: 0 auto;
      max-width: 36rem;
      min-width: 28rem;
      height: 42rem;
      .item-detail-table {
        border-collapse: collapse;
        border: 0.1rem solid #f5f5f5;
        height: 100%;
        font-size: 1.4rem;
        .item-th {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background-color: #fafafa;
          padding: 0.8rem;
        }
        .item-td {
          width: 61%;
          padding: 0.8rem;
        }
        .item-user-evaluation {
          display: flex;
          margin-top: 0.8rem;
          .good-icon::before {
            font-family: "Font Awesome 5 Free";
            content: "\f580";
            font-weight: 900;
            display: inline-block;
            color: magenta;
          }
          .normal-icon::before {
            font-family: "Font Awesome 5 Free";
            content: "\f11a";
            font-weight: 900;
            display: inline-block;
            margin-left: 1.6rem;
            color: #ffcc66;
          }
          .bad-icon::before {
            font-family: "Font Awesome 5 Free";
            content: "\f119";
            font-weight: 900;
            display: inline-block;
            margin-left: 1.6rem;
            color: #5d99ff;
          }
        }
        .category-icon {
          font-family: "Font Awesome 5 Free";
          content: "\f105";
          font-weight: 900;
        }
      }
    }
  }
  .item-price-box {
    margin: 2.4rem 0 0;
    text-align: center;
    .item-price-box__price {
      margin-right: 1.6rem;
      font-size: 5rem;
      font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial",
        "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    }
    .item-price-box__tax {
      font-size: 1rem;
    }
    .item-price-box__postage {
      font-size: 1.6rem;
    }
  }
  .item-buy-btn {
    text-align: center;
    &__red {
      height: 5.5rem;
      width: 58rem;
      background-color: $red;
      color: #fff;
      font-size: 2.4rem;
      line-height: 6rem;
      font-weight: 600;
    }
    &__sold {
      height: 5.5rem;
      width: 58rem;
      background-color: #888;
      color: #fff;
      font-size: 2.4rem;
      line-height: 6rem;
      font-weight: 600;
    }
  }
  .item-description {
    padding: 3.2rem 0 0;
  }
  .item-bottom-button {
    margin: 1.6rem 0 0;
    &__left {
      float: left;
      display: flex;
      .item-like-btn {
        padding: 0.8rem 1.6rem;
        border-radius: 4rem;
        background-color: #f5f5f5;
        color: #333;
        display: inline-block;
      }
      .item-report-btn {
        padding: 0.8rem 1.6rem;
        border-radius: 4rem;
        background-color: #f5f5f5;
        color: #333;
        display: inline-block;
        margin-left: 0.8rem;
        .item-flag {
          font-size: 1.4rem;
          &__report {
            font-size: 1.4rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
    &__right {
      display: flex;
      float: right;
      .item-safety-btn {
        padding: 0.8rem 1.6rem;
        display: inline-block;
        .item-lock {
          font-size: 1.4rem;
          color: #0099e8;
          &__safety {
            font-size: 1.4rem;
            margin-left: 0.5rem;
            color: #0099e8;
          }
        }
      }
    }
  }
}

#slide-item {
  height: 30rem;
}

.slider div {
  height: 300px;
}
.slider img {
  width: 100%;
}