
-# このファイルはクレジットカードを持っている場合に表示される画面です

%body

.header-a
  = render '/homes/header'
.contents
  .main-mypage
    %h2.l-single-inner_registration
      支払い方法
      -# = form_for @user, url: mypage_index_path, method: :get do |f|
    .creditcard_information-add
      .pay-informartion
        .pay-informartion__title
          クレジットカード一覧
        .pay-informartion__list
          =image_tag "visa.svg", height: '20', width: '40', class: "list-card-sort"
          .list-card-number ************1234
          .list-card-expiration 11/19
          .delete-btn-zone
            %button{class:"btn-default delete-btn"}  削除する

  = render "sidebar"

= render "/homes/footer"