%footer.footer-toppage
    %nav.nav-toppage
        .FooterMenu
            .FooterMenu__list
                %h2.FooterMenu__list__title Fmarketについて
                %ul.FooterMenu__list_wrapper
                    %li.FooterMenu__list__small サービス詳細
                    %li.FooterMenu__list__small 公式ブログ
            
            .FooterMenu__list
                %h2.FooterMenu__list__title ヘルプ＆ガイド
                %ul.FooterMenu__list_wrapper
                    %li.FooterMenu__list__small 
                        Fmarketガイド
                    %li.FooterMenu__list__small
                        偽ブランド撲滅活動

            .FooterMenu__list
                %h2.FooterMenu__list__title プライバシーと利用規約
                %ul.FooterMenu__list_wrapper
                    %li.FooterMenu__list__small 
                        プライバシーポリシー
                    %li.FooterMenu__list__small
                        Fmarket利用規約

        .FooterBottom
            .FooterBottom__footer-logo
            
            .FooterBottom__footer-text 
                © 2019 Fmarket

