%header.header-toppage
    .Header
        .HeaderTop
            .HeaderTop__Menu
                .HeaderTop__Menu__header-logo
                    .header-logo
                    
                .HeaderTop__Menu__header-search
                    %form.search{action: "/jp/search/"}
                    %input.search{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
                    %button.search-logo
                        %i.fas.fa-search

        .HeaderBottom
            .HeaderBottom__Left
                .HeaderBottom__Left__genre_search
                    %i.far.fa-list-alt
                    カテゴリーから探す
                .HeaderBottom__Left__genre_search
                    %i.fas.fa-tag
                    ブランドから探す
            .HeaderBottom__Right
                .HeaderBottom__Right__Menu
                    %i.far.fa-heart
                    いいね！一覧
                .HeaderBottom__Right__Menu
                    %i.far.fa-bell
                    お知らせ
                .HeaderBottom__Right__Menu
                    %i.far.fa-image
                    マイページ
