.main-mypage {
  height: 100%;
  width: 70rem;
  box-sizing: border-box;
  background-color: black;
  float: right;
  background: #fff;
  .l-single-inner_registration{
    font-size: 2.4rem;
    padding: 0.8rem 2.4rem;
  }
  .field-label-text{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

}
.input-text_cardnum {
  box-sizing: border-box;
  padding-left: 1.5rem;
}

.creditcard_information-add {
  background-color: #fff;
  padding: 6.4rem;
  .pay-way {
    background-color: #fff;
    border-bottom: 0.1rem solid #f5f5f5;
    &__creditcard {
      font-size: 1.6rem;
      background-color: #fff;
      margin-left: 13.5rem;
      font-weight: bold;
    }
    &__addcard {
      height: 10rem;
      width: 30rem;
      .add_credit {
        background-color: $red;
        height: 5.4rem;
        width: 32rem;
        margin: 3rem 0 4rem 13.5rem;
        color: #fff;
        font-size: 1.4rem;
        .credit-icon {
          margin-right: 1rem;
        }
      }
    }
  }
}
.creditcard_information-add {
  .pay-informartion {
    max-width: 32rem;
    margin: 0 auto;
    position: relative;
    border-bottom: 0.1rem solid #f5f5f5;
    &__title{
      font-size: 1.6rem;
      font-weight: bold;
    }
    &__list {
      padding:2.4rem;
      .list-card-number,
      .list-card-expiration{
        font-size: 1.6rem;
        margin-top: 0.8rem;
      }
      .delete-btn {
        position: absolute;
        top: 4rem;
        right: 0;
        color: $red;
        border: 0.1rem solid $red;
        border-radius: 0.4rem;
        box-sizing: border-box;
        padding: 0.5rem;
        font-size: 1.4rem;
        text-decoration: none;
      }
    }
  }
  .pay-about{
    text-align: right;
    margin-top: 4rem;
    font-size: 1.4rem;
    &__link{
      color: #0099e8;
      text-decoration: none;
    }
  }
}
