.profile-container {
  height: 130rem;
  width: 102rem;
  margin: 4rem auto 0;
  padding-bottom: 4rem;
  .profile-main {
    height: 56.8rem;
    width: 70rem;
    background: #fff;
    float: right;
    &__top {
      padding: 1.2rem 2.4rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: bold;
    }
    &__header {
      box-sizing: border-box;
      height: 15.6rem;
      width: 70rem;
      text-align: center;
      padding: 7.2rem 1.6rem 2.4rem;
      background-image: url(fmarket.jpg);
      &--image {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-image: url(user.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 10%;
      }
      &--input {
        box-sizing: border-box;
        vertical-align: middle;
        width: 22rem;
        height: 4.8rem;
        background-color: #fff;
        margin-left: 0.8rem;
        font-size: 1.4rem;
        border-radius: 0.4rem;
        padding: 1rem 1.6rem 0.8rem;
      }
    }
    &__textarea {
      padding: 4rem 1.6rem;
      &--box {
        box-sizing: border-box;
        font-size: 1.6rem;
        padding: 1rem;
        min-height: 21.6rem;
        width: 100%;
        line-height: 1.5;
      }
      &--edit {
        height: 5rem;
        width: 100%;
        background-color: #ea352d;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        margin-top: 1.6rem;
        line-height: 5rem;
      }
    }
  }
}
