.profile-container {
  height: 1292px;
  width: 1020px;
  margin: 40px auto 0;
  padding-bottom: 40px;
  .profile-main {
    height: 568px;
    width: 700px;
    background: #fff;
    float: right;
    &__top {
      padding: 12px 24px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    &__header {
      box-sizing: border-box;
      height: 156px;
      width: 700px;
      text-align: center;
      padding: 72px 16px 24px;
      background-image: url(fmarket.jpg);
      &--image {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-image: url(user.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 10%;
      }
      &--input {
        box-sizing: border-box;
        vertical-align: middle;
        width: 220px;
        height: 48px;
        background-color: #fff;
        margin-left: 8px;
        font-size: 14px;
        border-radius: 4px;
        padding: 10px 16px 8px;
      }
    }
    &__textarea {
      padding: 40px 16px;
      &--box {
        box-sizing: border-box;
        font-size: 16px;
        padding: 10px;
        min-height: 216px;
        width: 100%;
        line-height: 1.5;
      }
      &--edit {
        height: 50px;
        width: 100%;
        background-color: #ea352d;
        text-align: center;
        font-size: 16px;
        color: #fff;
        margin-top: 16px;
        line-height: 50px;
      }
    }
  }
}