.mypage-container__listings {
  width: 70rem;
  box-sizing: border-box;
  float: right;
}

.listings-product {
  height: 7.2rem;
  background-color: #fafafa;
  padding: 0 1.6;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 7.2rem;
}

.listings-tabs {
  width: 70rem;
  height: 0.2rem;
  box-sizing: border-box;
  display: flex;

  &__active {
    width: calc(100% / 3);
    height: 0.2rem;
    background-color: #ea532d;
  }

  &__post {
    width: 33.33333%;
    height: 0.2rem;
    background-color: #eee;
  }
}

.listings-detail {
  height: 7.2rem;
  width: 70rem;
  display: flex;
  box-sizing: border-box;

  &__active {
    height: 7.2rem;
    width: 33.33333%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
    background-color: #fff;
    text-align: center;
    line-height: 7.2rem;
    text-decoration: none;
  }

  &__active:hover {
    color: #a19e9e;
  }

  &__post {
    height: 7.2rem;
    width: 33.33333%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
    background-color: #eee;
    text-align: center;
    line-height: 7.2rem;
    text-decoration: none;
  }

  &__post:hover {
    color: #a19e9e;
  }
}

.listings-report-areas-none {
  height: 23.4rem;
  width: 70rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #808080;
  background-color: #fff;
  background-image: image-url("logo_gray");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  text-align: center;
  line-height: 39rem;
  list-style: none;

  &__area {
    display: block;
  }
}

.listings-report-areas-exsis {
  width: 70rem;
  height: 72rem;
  background-color: #fff;
  list-style: none;
  align-items: center;
  overflow: scroll;

  &__area {
    width: 70rem;
    height: 7.2rem;
    display: block;
    border-bottom: solid 0.1rem #d1cccc;

    &__link {
      width: 95%;
      height: 100%;
      color: #201c1c;
      text-decoration: none;
      margin: auto;
      display: flex;

      &__figure {
        display: block;
        margin-right: 1.6rem;

        &__image {
          height: 4.8rem;
          width: 4.8rem;
          margin-top: 1.3rem;
          display: block;
          object-fit: cover;
        }
      }

      &__item {
        margin: auto 0 auto 0;

        &__name {
          font-size: 1.5rem;
        }

        &__detail {
          margin-top: 1.1rem;

          &__icon {
            color: #808080;

            .fa-comment-alt {
              margin-left: 0.5rem;
            }

            .listings__selling_status {
              background-color: #0099e8;
              color: #fff;
              font-size: 1.3rem;
              font-weight: bolder;
              border-radius: 0.3rem;
              margin: 0 0 0 auto;
              padding: 0.3rem;
            }
            .listings__selling_status-sold {
              background-color: #808080;
            }
          }
        }
      }

      &__sngle-left {
        display: inline-block;
        line-height: 7.2rem;
        margin: 0 0 0 auto;
        font-size: 2.4rem;
      }
    }
  }

  &__area:hover {
    background-color: #f5f5f5;
  }
}
