.sidebar {
  width: 28rem;
  background-color: lightgoldenrodyellow;
  margin-right: 4rem;
  background: #fff;
  float:left;
  &__list {
    .menu {
      &__item {
        list-style: none;
        &--link {
          position: relative;
          padding: 1.6rem;
          border-top: 0.1rem solid #eee;
          display: block;
          background: #fff;
          font-size: 1.4rem;
          color: #333;
          text-decoration: none;
        }
        &--link:hover {
          background-color: #eee;
          opacity: 0.8;
        }
        &--arrow {
          position: absolute;
          top: 50%;
          right: 1.6rem;
          color: #ccc;
          transform: translate(0, -50%);
          transition: all ease-out 0.2s;
          font-style: normal;
          font-size: 1.6rem;
        }
      }
    }

    .navi-head {
      background-color: #f5f5f5;
      padding: 4rem 0 0.5rem;
      font-size: 1.6rem;
      font-weight: bold;
    }

    .config {
      &__item {
        list-style: none;
        &--link {
          @extend .menu__item--link;
        }
        &--arrow {
          @extend .menu__item--arrow;
        }
      }
    }
  }
}
