/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require dropzone/basic
 *= require dropzone/dropzone
 */

// config
@import "config/reset";
@import "config/colors";
@import "config/font-size";

//variables
@import "variables/variables";
@import "variables/mixins";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables/breadcrumb";

//mypages
@import "mypages/sidebar";
@import "mypages/mypage";
@import "mypages/edit";
@import "mypages/logout";
@import "mypages/sidebar";
@import "mypages/creditcard.scss";
@import "mypages/identification";
@import "mypages/listings.scss";
@import "mypages/purchase_purchased.scss";
@import "mypages/exhibit_item";
@import "mypages/address";

//signupus
// @import "signups/signup.scss";
@import "signups/step1.scss";
@import "signups/step2.scss";
@import "signups/done.scss";
@import "signups/header.scss";
@import "signups/index.scss";
@import "signups/footer.scss";

//addresses
@import "addresses/new.scss";

//devise
@import "devise/sessions/new";

//creditcards
@import "creditcards/new.scss";

//homes
@import "homes/home";
@import "homes/home-slidemenu.scss";
@import "homes/home-header.scss";
@import "homes/search.scss";

//orders
@import "orders/new.scss";
@import "orders/done.scss";
@import "orders/failed.scss";

//items
@import "items/sell";
@import "items/show";
@import "items/chat";
@import "items/modal";
@import "items/edit";

//その他
@import "shard/signups_errors";
@import "likes/like";
