.point3-1 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
}
.point3-2 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
  &::before {
    @include before;
    background-color: #ea352d;
  }
}
.point3-3 {
  @include inpoint;
  background-color: #ea352d;
  &::before {
    @include before;
    background-color: #ea352d;
  }
  &::after {
    @include after;
  }
}
.point3-4 {
  @include inpoint;
  &::after {
    @include after;
  }
  &::before {
    @include before;
  }
}
.point3-5 {
  @include inpoint;
  &::before {
    @include before;
  }
}

.user_address {
  margin-left: 7.7rem;
  margin-right: 7.7rem;
}

.field-address {
  line-height: 2rem;
  margin-top: 4rem;
}

.field_submit {
  @extend .field-address;
  margin-bottom: 4rem;
}

.nin {
  background-color: #ccc;
  margin: 0 0 0 0.8rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  vertical-align: top;
}

.user_address_name,
.user_address_name_kana,
.address_postcode,
.address_prefectures,
.address_city,
.address_street_num,
.address_building,
.address_home_call_num {
  font-weight: bold;
}

.address_user_lastname,
.address_user_firstname,
.address_user_lastname_error,
.address_user_firstname_error,
.address_user_lastname_kana,
.address_user_firstname_kana,
.address_user_lastname_kana_error,
.address_user_firstname_kana_error {
  height: 3.4rem;
  width: 24rem !important;
  padding: 1rem 1.6rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  background: #fff;
  line-height: 1.5rem;
  font-size: 1.6rem;
  display: inline-block;
}

#address_postcode,
#address_city,
#address_street_num,
#address_building,
#address_home_call_num {
  height: 4.8rem;
  width: 50rem;
  padding: 1rem 1.6rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  background: #fff;
  line-height: 1.5rem;
  font-size: 1.6rem;
  display: block;
}

.address_user_lastname_error,
.address_user_firstname_error,
.address_user_lastname_kana_error,
.address_user_firstname_kana_error,
#address_postcode_error,
#address_city_error,
#address_street_num_error,
#address_building_error,
#address_home_call_num_error {
  height: 4.8rem;
  width: 50rem;
  padding: 1rem 1.6rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid red;
  background: #fff;
  line-height: 1.5rem;
  font-size: 1.6rem;
  display: block;
}

#address_prefectures {
  @include address_select;
  border-radius: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}

.field-pulldown {
  position: relative;
}
.address_icon {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  font-size: 2.6rem;
}

#address_prefectures::-ms-expand {
  display: none;
}

.field-pulldown {
  position: relative;
}
.address_icon {
  position: absolute;
  right: 5rem;
  top: 1.5rem;
  font-size: 2.6rem;
}

#address_prefectures::-ms-expand {
  display: none;
}

.address_submit {
  @include address_select;
  background-color: rgb(234, 53, 45);
  color: #fff;
}

.destory_wall {
  background-color: #fff;
  height: 0.1rem;
  width: 100%;
}

.footer {
  height: 5rem;
  width: 100%;
}
