.point3-1 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
}
.point3-2 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
  &::before {
    @include before;
    background-color: #ea352d;
  }
}
.point3-3 {
  @include inpoint;
  background-color: #ea352d;
  &::before {
    @include before;
    background-color: #ea352d;
  }
  &::after {
    @include after;
  }
}
.point3-4 {
  @include inpoint;
&::after {
  @include after;
}
&::before {
  @include before;
}
}
.point3-5 {
  @include inpoint;
  &::before {
    @include before;
  }
}

.user_address {
  margin-left: 77px;
  margin-right: 77px;
}

.field-address {
  line-height: 20px;
  margin-top: 40px;
}

.field_submit {
  @extend .field-address;
  margin-bottom: 40px;
}

.nin {
  background-color: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.user_address_name,
.user_address_name_kana,
.address_postcode,
.address_prefectures,
.address_city,
.address_street_num,
.address_building,
.address_home_call_num {
  font-weight: bold;
}

.address_user_lastname,
.address_user_firstname,
.address_user_lastname_error,
.address_user_firstname_error,
.address_user_lastname_kana,
.address_user_firstname_kana,
.address_user_lastname_kana_error,
.address_user_firstname_kana_error
 {
  height: 34px;
  width: 240px !important;
  padding: 10px 16px 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
}

#address_postcode,
#address_city,
#address_street_num,
#address_building,
#address_home_call_num {
  height: 48px;
  width: 500px;
  padding: 10px 16px 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: block;
}

.address_user_lastname_error,
.address_user_firstname_error,
.address_user_lastname_kana_error,
.address_user_firstname_kana_error,
#address_postcode_error,
#address_city_error,
#address_street_num_error,
#address_building_error,
#address_home_call_num_error {
  height: 48px;
  width: 500px;
  padding: 10px 16px 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid red;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: block;
}

@mixin action {
  height: 58px;
  width: 500px;
  padding: 10px 16px 8px;
  margin: 5px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: block;
}

#address_prefectures {
  @include action;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}

.field-pulldown {
  position: relative;
}
.address_icon {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 26px;
}

#address_prefectures::-ms-expand {
  display: none;
}

.field-pulldown {
  position: relative;
}
.address_icon {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 26px;
}

#address_prefectures::-ms-expand {
  display: none;
}


.address_submit {
  @include action;
  background-color: rgb(234, 53, 45);
  color: #fff;
}

.destory_wall {
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.footer {
  height: 50px;
  width: 100%;
}
