.point4-1 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
}
.point4-2,
.point4-3 {
  @include inpoint;
  background-color: #ea352d;
  &::after {
    @include after;
    background-color: #ea352d;
  }
  &::before {
    @include before;
    background-color: #ea352d;
  }
}
.point4-4 {
  @include inpoint;
  background-color: #ea352d;
  &::before {
    @include before;
    background-color: #ea352d;
  }
  &::after {
    @include after;
  }
}

.point4-5 {
  @include inpoint;
  &::before {
    @include before;
  }
}

h4 {
  // 仮置き用なので消して下さい
  display: inline-block;
}

.creditcard_information {
  // 消さないでください。.creditcard_information(入力欄等)の位置を定めてます
  margin-left: 17.8rem;
  margin-right: 17.8rem;
}

.field-creditcard {
  //  支払い方法より下の記入欄の部分です
  line-height: 4rem;
  margin-top: 1.5rem;
}

.field-input-expiring{
  display: flex;
}

@mixin input {
  // form_for切り替え時に調整必要かもしれません
  display: block;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  height: 4.8rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  border-radius: 0.4rem;
}

.input-text {
  //  selectなのでビューが崩れるかもしれません。 @mixin inputを継承してます
  @include input;
  width: 13rem;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  padding-left: 1rem;
  background: 0;
}
.select-wrapper{
  position: relative;
}
.select-arrow{
  position: absolute;
  right: 1.6rem;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 1.6rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.exp-date{
  font-size: 1.8rem;
  margin-right: 1rem;
}

.input-text_cardnum {
  //   @mixin inputを継承してます
  @include input;
  width: 34rem;
}

.creditcard-submit {     //  .input-text_cardnumを継承してます。margin-bottomはボタンとフッターとの余白を作るために記述してます
  @extend .input-text_cardnum;
  margin-top: 4rem;
  background-color: rgb(234, 53, 45);
  color: #fff;
  margin-bottom: 6rem;
}

.input-text:focus,
.input-text_cardnum:focus{
  outline: 0;
  border-color: #0196E4;
}